body{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;

}

h1 {
	text-align: center;
	background-color: white;
	color: black;
	font-size: 60px;
	font-weight:600;
}
p {
	font-size:10px;
}
