body{
	font-family: Helvetica, san-serif;
}
h1{
	text-align: left;
	background-color: white;
	color: black;
	font-size: 40px;
	font-weight: 400;
}
img{
	align-content: right;
}
p1{
	text-align: left;
}
p{
	text-align:right;
}