body{
	font-family: Helvetica;
}
h1{
	text-align: left;
	background-color: white;
	color: black;
	font-size: 40px;
	font-weight: 400;
}

.picture{
    display: block;
    margin-left: auto;
    margin-right: 100;
}

p{
	text-align:right;
	font-size: 14px;
}