body, nav{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 10px;	
}

h1 {
	text-align: center;
	background-color: white;
	color: black;
	font-size: 5em;
	font-weight: 400;
}

#img {
	text-align: center;
	width:50%;
}

@media only screen and (max-width: 768px) and (max-width: 400px) {
	#img {
		width:100%;
	}
}