h1 {
	text-align: center;
	background-color: white;
	color: black;
	font-size: 5em;
	font-weight: 400;
	margin:100%;
}

body, nav{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 10px;	
}

#img {
	width:50%;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	#img {
		width:100%;
	}
}