h1 {
	text-align: center;
	background-color: white;
	color: black;
	font-size: 5em;
	font-weight: 400;
}

body, nav{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 10px;	
}
