body{
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	text-align: center;
	background-color: white;
	color: black;
	font-size: 50px;
	font-weight: 400;
}

p {
	text-align: left;
	font-size: 14px;
}
.text{
	text-align: center;
	font-size: 14px;	
}